@model KodelabAssessment1122DLL.ViewModels.TakeQuizViewModel

@{
    int counter = 1;
}
<form asp-action="SubmitQuiz" method="post">

    @foreach (var question in Model.userAnswers)
    {

        @*@foreach (var answer in question.AnswerIds)
            {*@
        @for (int i = 0; i < question.AnswerIds.Count - 1; i++)
        {
            @Html.RadioButtonFor(m => m.userAnswers.FirstOrDefault(k => k.QuestionId == question.QuestionId).SelectedAnswerId,
           question.AnswerIds[i]
           );

            @question.AnswerText[i]


            @*
                <input asp-for="@Model.userAnswers.FirstOrDefault(k => k.QuestionId == question.QuestionId)" type="radio" name="@question.QuestionId" value="@answer.ModelId" />
                <label for="@Model.userAnswers.FirstOrDefault(k => k.QuestionId == question.ModelId).AnswerId">@answer.answer</label>*@

            @:&emsp;

            if (counter % 2 == 0)
            {
                <br />
                counter++;
                counter = 1;
            }
            else
            {

                counter++;
            }

        }
    }

    <input type="submit" value="Done" class="btn btn-primary" />
    <input id="btnSave" type="button" value="Submit" class="btn btn-primary" />
</form>

<script type="text/javascript">

        $("#btnSave").click(function () {
            //alert("");
            var ans = {};
            ans.AnswerId = $("#StudentName").val();
            ans.QuestionId = $("#StudentAddress").val();


            $.ajax({
                async: true,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json;charset=utf-8',
                url: '/Quiz/AnswerQuestion',
                data: JSON.stringify(),
                success: function () { },
                error: function () { }
            });


        }
</script>